/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Megrim', cursive; */
  font-family: 'Poppins', sans-serif;

}
/* .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
} */
.card {
  /* height: 380px; */
  /* width: 350px; */
  background-color: #fff;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  padding: 20px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.text p {
  font-size: 13px;
  color: #bac4d4;
  font-weight: 700;
}
.input-text {
  position: relative;
  margin-top: 30px;
}
input[type="text"] {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 9px;
  border: 1px solid #e0e3e9;
  padding: 0 10px;
  padding-left: 30px;
  outline: 0;
  font-size: 13px;
}
input[type="password"] {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 9px;
  border: 1px solid #e0e3e9;
  padding: 0 10px;
  padding-left: 30px;
  padding-right: 27px;
  outline: 0;
}
.fa-envelope {
  position: absolute;
  left: 10px;
  cursor: pointer;
  top: 15px;
}
.fa-lock {
  position: absolute;
  left: 12px;
  top: 15px;
  cursor: pointer;
  font-size: 15px;
}
.input-text .fa-eye-slash {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 15px;
  cursor: pointer;
}
.fa-eye {
  /* position: absolute;
  right: 10px;
  top: 15px; */
  font-size: 25px;
  cursor: pointer;
}
.fa-slash {
  /* position: absolute;
  right: 10px;
  top: 15px; */
  font-size: 25px;
  cursor: pointer;
}
.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #267fff;
  border-radius: 9px;
  font-size: 12px;
  outline: 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.buttons button:hover {
  background-color: #083c87;
}
.forgot {
  margin-top: 30px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot a {
  text-decoration: none;
}
/* .warning {
  border: 1px solid red !important;
}
.type_password {
  border: 1px solid red !important;
} */


.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}



@keyframes ldio-2tk7njao9fx {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-2tk7njao9fx div {
  position: absolute;
  width: 58px;
  height: 58px;
  border: 10px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-2tk7njao9fx div {
  animation: ldio-2tk7njao9fx 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-deeubklsue {
  width: 44px;
  height: 44px;
  display: inline-block;
  overflow: hidden;
}
.ldio-2tk7njao9fx {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.44);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2tk7njao9fx div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.ebtn{
  background-color: black;
  width: 60%;
  padding: 1rem 0;
  border: none;
  margin-bottom: 2rem;
}
/* hr{
  width: 302px;
  height: 1px;
  background: #717274;
  border-radius: 1px;
} */